<!DOCTYPE html>
<html lang="en">

<head>
    
    {{> head}}

</head>

<body>
    <section id="header">
        <header>

            {{> navbar}}

        </header>
    </section>
    <section id="content">
        <div class="container">
            
            {{{body}}}

        </div>
    </section>

    {{> scripts}}
    
</body>

</html>